<h1>Lista de Pokemon</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayoutAlign="center"
     fxLayoutGap="20px">

    <div fxFlex="30"
         fxFlex.lg="20"
         *ngFor="let pokemon of pokemons; let i=index">

        <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="avatar" style="background-image: url('{{pokemon.sprites.front_default}}'); background-size: cover;"></div>
                    <mat-card-title>{{ pokemon.name | titlecase}}</mat-card-title>
                    <mat-card-subtitle>
                        <span>{{pokemon.types[0].type.name }}</span>
                        <span *ngIf="pokemon.types.length>1">, {{pokemon.types[1].type.name}}</span>
                    </mat-card-subtitle>
                </mat-card-header>
                <br>
                <img mat-card-image [src]="pokemon.sprites.other.dream_world.front_default" alt="pokemon sprite">
                <hr>
                <mat-card-content>
                    <p>
                        <strong>Vida: </strong>{{pokemon.stats[0].base_stat}} <br>
                        <strong>Ataque: </strong>{{pokemon.stats[1].base_stat}} <br>
                        <strong>Defensa: </strong>{{pokemon.stats[2].base_stat}} <br>
                        <strong>Velocidad: </strong>{{pokemon.stats[5].base_stat}} <br>
                    </p>
                </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- 
    stats[0,1,2,5].base_stat = hp , attack, defense, speed
 -->